# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.log.*

# Exclude all .tfvars files (contain real secrets)
*.tfvars
*.tfvars.json

# Exclude variables that might contain sensitive data
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Exclude CLI configuration files
.terraformrc
terraform.rc